<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Discography</title>
</head>
<body>
    <div style="text-align:center">
        <iframe allow="autoplay *; encrypted-media *;" style="width:100%;max-width:660px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/us/album/one-draw-ep/30762512?app=music" height="450" frameborder="0"></iframe>
    </div><br><br><br>

    <div style="border-bottom:2px solid black; width:100%"></div><br><br>

    <div style="text-align:center">
        <iframe allow="autoplay *; encrypted-media *;" style="width:100%;max-width:660px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/us/album/pacific/6245807?app=music" height="450" frameborder="0"></iframe>
    </div><br><br><br>

    <div style="border-bottom:2px solid black; width:100%"></div><br><br>
        
    <div style="text-align:center">
        <iframe allow="autoplay *; encrypted-media *;" style="display: inline-block; width:100%;max-width:660px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/us/album/rise-again-ep/433261443?app=music" height="450" frameborder="0"></iframe>
    </div><br><br><br>
    <partial name="partial"/>
</body>
</html>