<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Merchandise</title>
</head>
    
<body>
    <div class="container"> 
        <h3>Music</h3>
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-block">
                        <h3 class="card-title">Greatest Hits</h3>
                        <h6 class="card-subtitle text-muted">CD</h6>
                        <img src="~/images/greatest.jpg" class="img-fluid" style="width: 100%">
                    </div>
                    <div class="card-block">
                        <div class="card-text">Compilation of One Draw's greatest hits.
                            <div style="float: right">   
                                <br><br><h6 style="margin-left: 50px" class="card-subtitle text-muted">$10.00</h6>
                                <a href="#" class="card-link product btn" data-name="Greatest Hits" data-price="1000" data-id="1">Add to Cart</a>
                            </div> 
                        </div>
                    </div>    
                </div> 
            </div> 
        </div><br>  
        <h3>Kids Apparel</h3>
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-block">
                        <h3 class="card-title">Bazooka Joe</h3>
                        <h6 class="card-subtitle text-muted">Grey</h6>
                        <img src="~/images/baby.jpg" class="img-fluid" style="width: 100%">
                    </div>
                    <div class="card-block">
                        <div class="card-text">Bazooka Bubble Gum logo. Grey t-shirt.
                            <div style="float: right"> 
                                <br><br><h6 style="margin-left: 50px" class="card-subtitle text-muted">$15.00</h6>
                                <a href="#" class="card-link product btn" data-name="Bazooka Kids Grey" data-price="1500" data-id="2">Add to Cart</a>
                            </div>
                        </div>
                    </div>   
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-block">
                        <h3 class="card-title">Bazooka Joe</h3>
                        <h6 class="card-subtitle text-muted">White</h6>
                        <img src="~/images/baby.jpg" class="img-fluid" style="width: 100%">
                    </div>
                    <div class="card-block">
                        <div class="card-text">Bazooka Bubble Gum logo. White t-shirt.
                            <div style="float: right">     
                                <br><br><h6 style="margin-left: 50px" class="card-subtitle text-muted">$15.00</h6>
                                <a href="#" class="card-link product btn" data-name="Bazooka Kids White" data-price="1500" data-id="3">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-block">
                        <h3 class="card-title">Bazooka Joe</h3>
                        <h6 class="card-subtitle text-muted">Black</h6>
                        <img src="~/images/baby.jpg" class="img-fluid" style="width: 100%">
                    </div>
                    <div class="card-block">
                        <div class="card-text">Bazooka Bubble Gum logo. Black t-shirt.
                            <div style="float: right"> 
                                <br><br><h6 style="margin-left: 50px" class="card-subtitle text-muted">$15.00</h6>
                                <a href="#" class="card-link product btn" data-name="Bazooka Kids Black" data-price="1500" data-id="4">Add to Cart</a>
                            </div>
                        </div>
                    </div>    
                </div>
            </div> 
        </div><br>  
        <h3>Ault Apparel</h3>
        <div class="row">   
            <div class="col-md-3">
                <div class="card">
                    <div class="card-block">
                        <h3 class="card-title">Bazooka Joe</h3>
                        <h6 class="card-subtitle text-muted">Grey</h6>
                        <img src="~/images/adult.jpg" class="img-fluid" style="width: 100%">
                    </div>
                    <div class="card-block">
                        <div class="card-text">Bazooka Bubble Gum logo. Grey t-shirt.
                            <div style="float: right"> 
                                <br><br><h6 style="margin-left: 50px" class="card-subtitle text-muted">$17.00</h6>
                                <a href="#" class="card-link product btn" data-name="Bazooka Adult Grey" data-price="1700" data-id="5">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-block">
                        <h3 class="card-title">Bazooka Joe</h3>
                        <h6 class="card-subtitle text-muted">White</h6>
                        <img src="~/images/adult.jpg" class="img-fluid" style="width: 100%">
                    </div>
                    <div class="card-block">
                        <div class="card-text">Bazooka Bubble Gum logo. White t-shirt.
                            <div style="float: right"> 
                                <br><br><h6 style="margin-left: 50px" class="card-subtitle text-muted">$17.00</h6>
                                <a href="#" class="card-link product btn" data-name="Bazooka Adult White" data-price="1700" data-id="6">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-block">   
                        <h3 class="card-title">Bazooka Joe</h3>
                        <h6 class="card-subtitle text-muted">Black</h6>
                        <img src="~/images/adult.jpg" class="img-fluid" style="width: 100%">
                    </div>
                    <div class="card-block">
                        <div class="card-text">Bazooka Bubble Gum logo. Black t-shirt.
                            <div style="float: right"> 
                                <br><br><h6 style="margin-left: 50px" class="card-subtitle text-muted">$17.00</h6>
                                <a href="#" class="card-link product btn" data-name="Bazooka Adult Black" data-price="1700" data-id="7">Add to Cart</a>
                            </div>
                        </div>
                    </div> 
                </div>           
            </div>
        </div>
    </div>
    <partial name="partial"/>

    






</body>